/* .main {
  width: 50%;
  margin: 20px auto;
  text-align: center;
}
.main h1 {
  background: gray;
}
li span {
  cursor: pointer;
  position: relative;
  float: right;
  margin-right: 10px;
}

.addPerson {
  position: relative;
  padding-bottom: 0px;
  height: 30px;
}

.addText {
  width: 30%;
  height: 30px;
  display: inline-block;
}

.addPerson button {
  height: 35px;
  width: 50px;
} */
